<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin Home Page</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/mst.css" />
<link rel="stylesheet" type="text/css" href="css/medium-editor.css" />
<link rel="stylesheet" type="text/css" href="css/themes/default.css" id="medium-editor-theme"/>
</head>


<body style="font-family: sans-serif; font-size: 16px;">
	<header id="masthead" class="site-header">
    	<div class="site-branding">
        	<h1 class="site-title">
        		<a href="https://andy.mystatustool.com/" rel="home">
	          		<span class="p-name">
	          			<%- myName %>	          		</span>
          		</a>
        	</h1>
      	</div>
  	</header>
  	
  	<div id="wrapper" style="width: 100vw; position: absolute; left: 0px;">
    	<div id="page" class="site">
        	<div id="primary" class="content-area">
	    		<main id="main" class="site-main today-container">

					<nav class="mst">
			        	<ul>
			        		<li><a href="<%- url %>">Home</a></li>
				        	<li><a href="<%- url %>about">About</a></li>
				        	<li><a href="<%- url %>userposts">User Posts</a></li>
			        		<li><a href="<%- urlFeed %>">Feed</a></li>
			        		<li><a href="https://github.com/andysylvester/MyStatusTool">Github Repo</a></li>
			        	</ul>
			        </nav>
    <br>
	<form action="/admin" method="post">
  	<!-- user input-->
    <div id="container">
        <textarea class="editable" type="text" name="username" placeholder='Enter your post here...' rows="8" cols="80"> </textarea>
   	    <input type="hidden" name="postIndexInput" id="MyPostIndex" value="-1">
   </div>
  	<!-- submit button -->
	<br>
  	<input type="submit" value="Post your update!">
	<br>
	</form>
    <script src="js/medium-editor.js"></script>
    <script>
        var editor;
		var postIndex = 0;
		editor = new MediumEditor('.editable', {
            buttonLabels: false,
			paste: {
                forcePlainText: false,
				cleanPastedHTML: false
            }
        });
		editor.setContent(editor.getContent() + 'This is a test of the <b>emergency</b> broadcast system');
	function getPostText(postIndex) {
            // var dataFromPost = "<%=data[1].description%>";
			var test = <%- JSON.stringify(data) %>;
			console.log("Post is: ", postIndex);
			// console.log(test[index].description);
			// console.log("MyPostIndex element is: ");
			let inputF = document.getElementById("MyPostIndex");
			inputF.value = postIndex;
			console.log("inputF.value is: ", inputF.value);
	   		editor.setContent(test[postIndex].description);
			// document.getElementById(MyPostIndex).setAttribute('value', postIndex);
	}
    function decodeHTMLEntities(text) {
       let textArea = document.createElement('textarea');
       textArea.innerHTML = text;
       return textArea.value;
    }
    </script>
	<br />
         <% for(var i=0; i < data.length; i++) { %>
		
<article class="h-entry hentry mst">
<div class="section">
<div class="entry-content e-content">
<div class="photo-box"><div class="box-content"><div><span><a href="<%=data[i].feedLink%>">N</a></span></div></div></div>
<div class="pagePost">
<div class="pagePostTop">
<span class="pagePostLink"><a href="<%=data[i].feedLink%>"><%=data[i].feedTitle%></a></span><br>
<div class="contentDiv" ><p><%-data[i].description%></p>
<button type="button" onClick="getPostText(<%=i%>)" id="<%=i%>">Post <%=i%></button>
<% if (data[i].enclosure) { %>
  <img src="<%= data[i].feedItem.enclosure.url %>"></p>
<% } %>
</div>
<a class="cd" href="<%=data[i].link%>"><%=data[i].pubDate%></a>
</div></div>
<div class="clear"></div>
</div>
</div>
</article>
				    <% } %>

</body>
</html>
